<#include "/include/head.htm">
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <#include "/include/header.htm">
    <div class="clearfix"> </div>
    <div class="page-container">
         <#include "/include/sidebar.htm">
         <div class="page-content-wrapper">
            <div class="page-content">

            <@bodyHeader menu="错误" url="${ctx.contextPath}/" title="出错啦">
            </@bodyHeader>
            
            <div class="row">
                  <div class="col-md-12 page-404">
                      <div class="number font-green"> 404 </div>
                      <div class="details">
                          <h3 class="font-red">您访问的页面出错了！</h3>
                          <p> 抱歉，您访问的页面出错了，可能不存在或已被删除！
                              <br>
                              <a href="${ctx.contextPath}/">返回我的工作台</a></p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <#include "/include/footer.htm">
</div>
<#include "/include/scripts.htm">
</body>
</html>

