nav()
    .nav
        nav-height = 44px
        height: nav-height
        a
            display: inline-block
            height: nav-height
            line-height: nav-height
            width: 49.99999%
            float: left
            text-indent: 10px
            font-weight: 400
            font-size: 20px
            box-sizing: border-box
            color: #555
            &.active
                background-color: #f2f2f2
.header
    height: h = 44px
    line-height: h
    padding: 0 8px
    font-size: 18px
    font-weight: 400
    color: #666
    .left  
        float: left
    .right
        float: right

.list li .title
    .rank-info
        background-color: #7ab049
    .rank-danger
        background-color: #ef543f
        background-image: url('../images/icon/danger-icon@2x.png')
    .rank-warning
        background-color: #e2c92c
        background-image: url('../images/icon/warning-icon2x.png')
    .left
        background-size: auto 100%
        background-position: left top