<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>元兵空中助理</title>
	<link rel="stylesheet" href="${ctx.contextPath}/res/css/wechat/weui.min.css" rel="stylesheet">
	<link rel="stylesheet" href="${ctx.contextPath}/res/css/wechat/wechat.example.css" rel="stylesheet">
</head>
<body>
<div class="container" id="container">
<div class="page panel js_show">
    <div class="page__bd">
    	<section>
    	<p>
        	<img src="http://cs.elementwin.com/upload/demo/qrcode.png" style="display:block; margin: 50px auto 20px auto"/>
        </p>
        </section>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item"><div class="placeholder" style="text-align:center">扫描二维码，关注我们 </div></div>
    </div>
</div>
</div>
<#include "/wechat/include/scripts.htm">
</body>
</html>