@media screen and (min-width: 400px)
     .header
        height: 345px
        t = 90px
        w = 160px
        username-h = 52px
        .avatar
            position: absolute
            top: t
            left: 50%
            width: w
            height: w
            margin-left: -(w/2)
        .username
            position: absolute
            width: 100%
            height: username-h
            line-height: username-h
            padding-top: 8px
            font-weight: 400
            top: (t + w)
        .job-position
            position: absolute
            width: 100%
            height: h = 24px
            line-height: h
            top: (t + w +username-h)
@media screen and (min-width: 400px)
    .grid-box
        .grid-cell
            padding: 35px 25px 
            .icon
                height: 30px
            .title
                font-weight: 500
@media screen and (min-width: 400px)
    .footer
        .footer-cell
            .clac
                width: w = 82px
                height: w
                line-height: w